{% extends "base.html" %} {% block title %}Deposit{% endblock %} {% block content
  %} <div class="container">
    <br>
    <h1>Deposit</h1>
    <br>
    <div class="input-group mb-3">
      <span class="input-group-text">Deposit principal</span>
      <input type="number" class="form-control" id="money" aria-label="Amount (to the nearest dollar)" min="10" max="3000000" onchange="updateSpan()">
      <span class="input-group-text">$</span>
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text">Interest rate        </span>
      <input type="number" class="form-control" id="irate" aria-label="Disabled input example" value="16.54" disabled readonly>
      <span class="input-group-text">%</span>
    </div>
    <div class="input-group mb-3">
      <label for="maturity" class="form-label">Maturity (3/6/12) months</label>
      <input type="range" class="form-range" min="1" max="3" id="maturity" onchange="updateSpan()">
    </div>
    <form method="post">
      <div class="input-group mb-3">
        <span class="input-group-text">Total amount      </span>
        <input type="number" name="total_amount" class="form-control" id="total_amount"></input disabled readonly>
    
        <span class="input-group-text">$</span>
        <br>
      </div>
      <label class="text" style="font-size: smaller; font-style: italic;">Total amount is Deposit principal + percentage</label>
      <br>
      <br>
      <button class="btn btn-primary">Deposit</button>
    </form>
  </div>
  <script>
    function updateSpan() {
      var rangeValue = document.getElementById("maturity").value;
      var resultSpan = document.getElementById("irate");
      var totalInput = document.getElementById("total_amount");
      var depositValue = document.getElementById("money");
      switch (rangeValue) {
        case "1":
          resultSpan.value = 16.21;
          totalInput.value = Math.round(depositValue.value * Math.pow((1 + resultSpan.value / 100 / 12), rangeValue));
          break;
        case "2":
          resultSpan.value = 16.54;
          totalInput.value = Math.round(depositValue.value * Math.pow((1 + resultSpan.value / 100 / 12), rangeValue));
          break;
        case "3":
          resultSpan.value = 17.23;
          totalInput.value = Math.round(depositValue.value * Math.pow((1 + resultSpan.value / 100 / 12), rangeValue));
          break;
        default:
          resultSpan.value = 16;
          break;
      }
    }
  </script> {% endblock %}